<!DOCTYPE html class="h-full">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section>
            <h2 class="font-bold mb-2">In Progress</h2>
            <ul>
                <li v-for="assignment in assignments">
                    <label>
                       
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
  
        </section>
        <section>
            <h2 class="font-bold mb-2">Completed Assignments</h2>
            <ul>
                <li v-for="assignment in assignments.filter(a=>a.complete)">
                    <label>
                       
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
  
        </section>
    </div>
    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'Finish Project', complete: false },
                        { name: 'Read Chapter four', complete: false },
                        { name: 'Turn in homework', complete: false },
                    ]
                };
            }
        };
        Vue.createApp(app).mount("#app");
    </script>
</body>
</html>